In [31]:
import pandas as pd
from sklearn.ensemble import IsolationForest

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
df1=pd.read_csv("/content/drive/MyDrive/databasebasketball(1)/players.txt")
df2=pd.read_csv("/content/drive/MyDrive/databasebasketball(1)/player_regular_season_career.txt")
df1.head()

,ilkid,firstname,lastname,position,firstseason,lastseason,h_feet,h_inches,weight,college,birthdate
0,ABDELAL01,Alaa,Abdelnaby,F,1990,1994,6.0,10.0,240.0,Duke,1968-06-24 00:00:00
1,ABDULKA01,Kareem,Abdul-jabbar,C,1969,1988,7.0,2.0,225.0,UCLA,1947-04-16 00:00:00
2,ABDULMA01,Mahmo,Abdul-rauf,G,1990,2000,6.0,1.0,162.0,LSU,1969-03-09 00:00:00
3,ABDULTA01,Tariq,Abdul-wahad,G,1997,2002,6.0,6.0,223.0,Michigan,1974-11-03 00:00:00
4,ABDURSH01,Shareef,Abdur-rahim,F,1996,2004,6.0,9.0,225.0,California,1976-12-11 00:00:00

In [34]:
data = pd.merge( df2, df1[["ilkid","position"]], on=['ilkid'])
data["position"].unique()

array(['F', 'C', 'G'], dtype=object)

In [35]:

missing_percentage = (data.isnull().sum() / len(data)) * 100
print("\nPercentage of missing values in each column:\n", missing_percentage)

Percentage of missing values in each column:
 ilkid        0.0
firstname    0.0
lastname     0.0
leag         0.0
gp           0.0
minutes      0.0
pts          0.0
oreb         0.0
dreb         0.0
reb          0.0
asts         0.0
stl          0.0
blk          0.0
turnover     0.0
pf           0.0
fga          0.0
fgm          0.0
fta          0.0
ftm          0.0
tpa          0.0
tpm          0.0
position     0.0
dtype: float64

In [45]:
guards = data[data['position'] == 'G']
forwards = data[data['position'] == 'F']
centers = data[data['position'] == 'C']
centers.shape

(618, 22)

In [37]:
f=['gp', 'minutes', 'pts','oreb', 'dreb', 'reb', 'asts', 'stl', 'blk', 'turnover', 'pf', 'fga',
   'fgm', 'fta', 'ftm', 'tpa', 'tpm']



X1=guards[f]
X2=forwards[f]
X3=centers[f]

In [38]:
outlier_model_g = IsolationForest(contamination=0.05)
outlier_model_g.fit(X1)
outliers = outlier_model_g.predict(X1)
outstanding_players =guards[outliers == -1]
outstanding_players_names= outstanding_players['firstname'] + ' ' +outstanding_players['lastname']
outstanding_players_names

36            Ray Allen
62        Nick Anderson
75       Nate Archibald
103       Stacey Augmon
145        Dick Barnett
             ...
3302     David Thompson
3398    Dick Vanarsdale
3407      Nick Van Exel
3547         Jerry West
3592      Lenny Wilkens
Length: 77, dtype: object

In [39]:
outlier_model_f = IsolationForest(contamination=0.05)
outlier_model_f.fit(X2)
outliers = outlier_model_f.predict(X2)
outstanding_players =forwards[outliers == -1]
outstanding_players_names= outstanding_players['firstname'] + ' ' +outstanding_players['lastname']
outstanding_players_names

17           Mark Aguirre
81            Paul Arizin
142       Charles Barkley
169            Rick Barry
189          Elgin Baylor
              ...
3595    Dominique Wilkins
3609        Buck Williams
3636         Kevin Willis
3660        Walt Williams
3721         James Worthy
Length: 81, dtype: object

In [46]:
outlier_model_c = IsolationForest(contamination=0.05)
outlier_model_c.fit(X3)
outliers = outlier_model_c.predict(X3)
outstanding_players =centers[outliers == -1]
outstanding_players_names= outstanding_players['firstname'] + ' ' +outstanding_players['lastname']
outstanding_players_names.head()

1      Kareem Abdul-jabbar
11             Alvan Adams
212           Walt Bellamy
479           Michael Cage
554       Wilt Chamberlain
dtype: object

In [42]:
print(len(outstanding_players_names))

31